{% extends "base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div>
        <div class="home-hero">
            <div class="home-container01">
                <div class="home-card">
                    <h1 class="home-text">Democratizing data</h1>
                    <span class="home-text01">
                Guider is a platform for partnerships to build the field of data
                for social impact. We work with organizations from all over the
                world to increase the use of data in order to improve the lives
                of millions of people.
              </span>
                    <div class="home-container02">
                        <div class="home-container03">
                            <div
                                    class="primary-button-container primary-button-root-class-name"
                            >
                                <a href="{% url 'assessments' %}">
                                    <button class="primary-button-button button ButtonSmall">
                                        Assessment
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <img
                alt="image"
                src="{% static 'home/hero_bg.png' %}"
                class="home-image"
        />
    </div>
{% endblock content %}

{% block script %}
{% endblock %}
